%td= link_to user.name, user
%td= link_to user.email, user
%td= link_to user.role.name, user
%td= link_to t('default_action.show'), user
%td= link_to t('default_action.edit'), edit_user_path(user)
%td= link_to t('default_action.destroy'), user, :method => :delete, :data => { :confirm => "#{t('are_you_sure_confirmation')}" }
