%p#notice= notice

%p
  %b Patient invoice:
  = @payment.invoice_id
%p
  %b Amount:
  = @payment.amount
%p
  %b Currency code:
  = @payment.currency_code

= link_to 'Edit', edit_payment_path(@payment)
\|
= link_to 'Back', payments_path
